nav{
display: flex;
justify-content: space-between;
align-items: center;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
.nave-titele{
    color: var(--dark-01, #131313);
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right:30px ;
    color: var(--dark-02, #424242);
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; 
}
.banner-content{
   max-width: 800px;
   text-align: center;
   margin: 0 auto;
}
.banner-title{
    font-size: 64px;
    font-weight: 700px;
    color: var(--dark-01, #131313);

}
.banner-description{
    
     color: #727272;
     
}
.button-primary{
    width: 220.667px;
    height: 73.567px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 20px;
}
.banner img{
    margin-top: 50px;
    width: 100%;
   
}




/*--main--*/


main{
    max-width: 1400px;
    margin: 0 auto;
}

.tems-contaner{
    display: flex;
    align-items: center;
}

.tems-img-contaner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
.tems-contant{
    padding-right: 70px;
    padding-left: 70px;
}

.span-1{
    color: #727272;
    font-size: 45px;
}
.span-2{
    color: #131313;
    font-size: 45px
}
.span-3{
    color: #FF900E;
    font-size: 45px;
}









@media screen and (max-width:576px){
            header{
                padding: 20px;
            }
            nav, 
            .tems-contaner
            {
                flex-direction: column;
            }
            .tems-img-contaner{
                grid-template-columns:1fr;
            }
}



